---
import Section from './Section.astro';
---

<Section
  title="RIG 800 PRO"
  subtitle="Premium Wireless Audio"
  color="white"
  price="Desde 199.90 €"
  pt="pt-16"
  textSize="text-[40px]"
  img="/testingsecond/rig800gaty.webp"
>
  <div slot="footer" class="pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div>

  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/testingsecond/RIG800main2.mp4"></video>
</Section>
